.cabal-sandbox/
.direnv/
.ghc.environment.*
.hpc
.hsenv
.HTF/
.stack-work/
.vscode/
*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hie
*.hp
*.o
*.prof
*.tix
cabal-dev
cabal.project.local
cabal.project.local~
cabal.sandbox.config
dist
dist-*
src/main/haskell/Main
